*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: transparent;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  height: 100%;

  border-radius: 2px;
  background: var(--smtx-background);
  color: var(--smtx-text);

  font-family:
    JetBrains Mono,
    monospace;
  line-height: 1.5;

  image-rendering: pixelated;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  #app {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
body:has(dialog[open]) {
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}
