input {
  padding: 0.25rem;
  font-family: inherit;

  border: 2px solid var(--smtx-primary);
  background: #000;
  color: var(--smtx-text);
  text-align: center;
}
button {
  border: none;
  background: none;
  font-family: inherit;
}

a {
  color: var(--smtx-link);
  text-decoration: none;
  font-weight: 650;
  font-family: inherit;
}
a:not(:has(div)):visited {
  color: var(--smtx-link-visited);
}
a:not(:has(div)):hover {
  filter: brightness(1.5);
}
