:root {
  --smtx-text: #fff;
  --smtx-text-disabled: #c5c5c5;

  --smtx-background: #0a090c;
  --smtx-panel: #1c1822;
  --smtx-primary: #5e3b4f;
  --smtx-accent: #9e3171;

  --smtx-button: #352027;
  --smtx-link: #bb3c86;
  --smtx-link-visited: #792d58;

  --smtx-word-empty: #555;
}
