:root {
  --smtx-text: #fff;
  --smtx-text-disabled: #c5c5c5;

  --smtx-background: #0a090c;
  --smtx-panel: #352027;
  --smtx-primary: #5e3b4f;
  --smtx-accent: #9e3171;

  --smtx-word-empty: #555;
}
