:root {
  --smtx-text: #fff;
  --smtx-text-disabled: #c5c5c5;

  --smtx-background: #0a090c;
  --smtx-primary: #5e3b4f;
  --smtx-accent: #a33e79;

  --smtx-button: #126d35;
  --smtx-button-hover: #0c5227;
  --smtx-button-active: #073318;
  --smtx-button-disabled: #3c423f;
}
