:root {
  --smt-text: #fff;
  --smt-text-disabled: #c5c5c5;

  --smt-background: #0a090c;
  --smt-primary: #46072b;
  --smt-accent: #a51d6c;

  --smt-button: #126d35;
  --smt-button-hover: #0c5227;
  --smt-button-active: #073318;
  --smt-button-disabled: #3c423f;
}
