:root {
  --smtx-text: #fff;
  --smtx-text-hint: #555;
  --smtx-text-highlight: #80c2ff;
  --smtx-text-subscript: #aaa;
  --smtx-text-disabled: #c5c5c5;

  --smtx-background: #0a090c;
  --smtx-panel: #1c1822;
  --smtx-panel-warn: #221410;
  --smtx-primary: #5e3b4f;
  --smtx-accent: #912c67;
  --smtx-warn: #8a3e00;

  --smtx-radio: #3a1c27;
  --smtx-slider-track: var(--smtx-primary);
  --smtx-slider-thumb: var(--smtx-accent);
  --smtx-slider-thumb-focus: #f264b7;

  --smtx-button: var(--smtx-accent);
  --smtx-button-hover: #682a4e;
  --smtx-button-active: #3a1c27;

  --smtx-link: #ce4294;
  --smtx-link-visited: #a03873;

  --smtx-word-empty: #555;
  --smtx-grid-border: #555a;
}
