:root {
  --vacp-color-background: transparent;
  --vacp-color-background-input: transparent;
  --vacp-color-border: transparent;
}

div.vacp-color-picker {
  padding: 0;
  grid-gap: 0.5rem 0;
  font-family: inherit;

  div.vacp-color-space {
    aspect-ratio: unset;
    height: 100%;
    min-height: 128px;
  }
  div.vacp-actions {
    display: none;
  }
  span.vacp-color-input-label-text {
    display: none;
  }
  input.vacp-color-input {
    padding: 0.25rem;

    font-size: 1rem;
    border-radius: 2px;
    border: 2px solid var(--smtx-primary);
    background: #000;
    color: var(--smtx-text);
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  div.vacp-color-space-thumb {
    --vacp-thumb-size: calc(var(--vacp-spacing, 6px) * 4.75);
  }
  input#color-picker-hue-slider {
    --vacp-slider-track-height: calc(var(--vacp-spacing, 6px) * 4);
    --vacp-slider-thumb-size: calc(var(--vacp-spacing, 6px) * 5 - var(--vacp-width-border, 1px) * 2);
  }
}
